.main-page {
    height:2000px;
    margin-top:-8px;
    margin-left:-8px;
    margin-right:-8px;
}
.user-info {
    width: 100%;
    height: 1500px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.feed {
    width: 750px;
    height: 100%;
    margin-top: 15px;
}