.profile-block {
    width: 22vw;
    height: 18vh;
    background-color: #fff;
    margin-top: 7.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.4vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
}

.settings-link {
    width: 22vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-joke {
    width: 22vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subscribe {
    width: 22vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-info {
    width: 22vw;
    height: 6vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    text-align: left;
}

.link-disabled {
    cursor: not-allowed;
    text-decoration: none;
}


strong, text {

  line-height: 1.4;
}