.mainPage {
    width: 100vw;
    min-height:100vh;
    margin-left:-8px;
}

.feed {
    width: 80vw;
    min-height: 100vh;
    margin-top: 5.5vh;
}
.info {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #DAE0E6;
}

.txt {
    margin-left: 7vw;
    margin-top: 1vw;
    font-size: 1vw;
}
.reportsList {
    margin-left: 7vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}